<a href="https://colab.research.google.com/github/ednavivianasegura/ERAP_CursoPython/blob/main/Modulo1_b/07.pandas_1_ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejercicios pandas 1

In [1]:
!git clone https://github.com/ednavivianasegura/ERAP_CursoPython.git

Cloning into 'ERAP_CursoPython'...
remote: Enumerating objects: 609, done.
remote: Counting objects: 100% (154/154), done.
remote: Compressing objects: 100% (76/76), done.
remote: Total 609 (delta 132), reused 78 (delta 78), pack-reused 455 (from 1)
Receiving objects: 100% (609/609), 29.51 MiB | 16.75 MiB/s, done.
Resolving deltas: 100% (252/252), done.

In [ ]:
import os
os.chdir("/content/ERAP_CursoPython/Modulo1_b")

In [2]:
file_path=("/content/ERAP_CursoPython/Modulo1_b/Data/")

In [3]:
import pandas as pd

### Ejercicio 1:
- Lee el archivo **"Canada.xlsx"** y guardalo en la variable **`df`**

### Ejercicio 2:
- Mostrar el tamaño de DataFrame.

### Ejercicio 3:
- Mostrar las primeras 3 filas.

### Ejercicio 4:
- Mostrar las últimas 10 filas.

### Ejercicio 5:
- Mostrar las estadisticas del DataFrame.

### Ejercicio 6:
- Mostrar la información del DataFrame.

### Ejercicio 7:
- Mostar las columnas del DataFrame en una lista.

### Ejercicio 8:
- Eliminar las columnas: **`Tipo`**, **`Area`** y **`Region`**.

### Ejercicio 9:
- Obtener los valores únicos de la columna **`Continente`** en una lista.

### Ejercicio 10:
- Obtener el valor minimo del año 2000.

### Ejercicio 11:
- Obtener los valores máximos de 1991-2000.

### Ejercicio 12:
- Obtener una lista con la media de migración de todos los años.

### Ejercicio 13:
- Obtener el país con más migración en el año 2010.

### Ejercicio 14
- Obtener el país con menor migración en el año 2005.

### Ejercicio 15:
- Encuentra el año en que más migración hubo de España a Canada.

### Ejercicio 16:
- Encuentra el año en que menor migración hubo de España a Canada.

### Ejercicio 17:
- Ordena en una lista los años de migración en España de menor a mayor de acuerdo a la información de cada año.

### Ejercicio 18:
- Crea una lista con todos los países.

### Ejercicio 19:
- Encuentra el número de paises por continente y agrega los nombres a un diccionario.
    - Ejemplo: **`{"Asía" : 20, "Africa" : 10, "Europa" : 5}`**

### Ejercicio 20:
- Crea un DataFrame a partir del diccionario anterior.

### Ejercicio 21:
- Repite los últimos dos ejercicios tomando en cuenta que america latina y america del norte son un solo continente.

### Ejercicio 22:
- Crea un DataFrame por continente y en cada DataFrame apareceran los paises de dicho contiente.
- Muestra las 3 primeras filas de cada DataFrame.

### Ejercicio 23:
- Obtener los valores maximos de migración de cada año y crea un DataFrame con los años y el número de migración máximo de cada año.

|     |Año |Numero de Migrantes|
|-----|----|-------------------|
|**0**|1980|22045              |
|**1**|1981|24796              |
|**2**|1982|20620              |
|**3**|1983|10015              |
|**4**|1984|10170              |

### Ejercicio 24:
- Ordenar por número mayor de migración a menor el DataFrame anterior.

### Ejercicio 25:
- Obtener el promedio y la mediana de cada año de migración y agregar al dataframe anterior.

### Ejercicio 26:
- Encontrar el año en que hubo más migración por continente y crear un dataframe con nombre de continente, el año de máxima migración y cantidad de migración.

|	  |Continente|Año |Migraciones|
|-----|----------|----|-----------|
|**0**|Asia	     |2005|42584      |
|**1**|Europe	 |1994|39231      |
|**2**|Africa	 |2010|6242       |
|**3**|Oceania	 |1992|1782       |
|**4**|America	 |2008|10190      |

### Ejercicio 27:
- Encontrar los 10 paises con más migración entre el 2008 y 2010.

|       |Pais                                             |2008 |2009 |	2010|migracion_2010|
|-------|-------------------------------------------------|-----|-----|-----|--------------|
|**136**|Philippines                                      |24887|28573|38617|         92077|
|**79** |India                                            |28261|29456|34235|         91952|
|**36** |China                                            |30037|29622|30391|         90050|
|**185**|United States of America                         |10190|8995 |8142 |         27327|
|**183**|United Kingdom of Great Britain and Northern I...|8979 |8876 |8724 |         26579|
|**130**|Pakistan                                         |8994 |7217 |6811 |         23022|
|**81** |Iran (Islamic Republic of)                       |6475 |6580 |7477 |         20532|
|**140**|Republic of Korea                                |7294 |5874 |5537 |         18705|
|**116**|Morocco                                          |4226 |5532 |6242 |         16000|
|**39** |Colombia                                         |5452 |4652 |5218 |         15322|

### Ejercicio 28:
- Agregar una columna al DataFrame inicial con el número total de migración de 1980 al 2013 por pais.

### Ejercicio 29:
- Encuentra el país de cada continente con más migración y crea un DataFrame con estos paises.

### Ejercicio 30:
- Encontrar los 3 paises con más migración de cada continente y agregarlos en un DataFrame.

|       |Continente|Pais                                             |Total Migracion|
|-------|----------|-------------------------------------------------|---------------|
|**79**	|Asia	   |India                                            |691904         |
|**36**	|Asia	   |China                                            |659962         |
|**136**|Asia	   |Philippines                                      |511391         |
|**183**|Europa	   |United Kingdom of Great Britain and Northern I...|551500         |
|**137**|Europa	   |Poland                                           |139241         |
|**63**	|Europa	   |France                                           |109091         |
|**55**	|Africa	   |Egypt                                            |72745          |
|**116**|Africa	   |Morocco                                          |72267          |
|**2**	|Africa	   |Algeria                                          |69439          |
|**9**	|Oceania   |Australia                                        |23829          |
|**61**	|Oceania   |Fiji                                             |20609          |
|**124**|Oceania   |New Zealand                                      |10386          |
|**185**|America   |United States of America                         |241122         |
|**86**	|America   |Jamaica                                          |106431         |
|**75**	|America   |Haiti                                            |84813          |

### Ejercicio 31:
- Cambiar los nombres de cada continente a español (utilizando un bucle for).

#### Extra: Obtener un DataFrame que te parezca relevante a partir de la aplicación de filtros. ¡Se creativo!